name: Update K8s Manifests & Push

on:
  workflow_run:
    workflows: ["Build & Push Docker Images"]
    types:
      - completed

env:
  GITHUB_REPO: https://github.com/sidhdhakal/micro_Application.git
  GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
  GIT_TOKEN: ${{ secrets.GIT_TOKEN }}

jobs:
  update-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get latest Docker tags
        run: |
          export FRONTEND_TAG=latest
          export CART_TAG=latest
          export PRODUCT_TAG=latest
          export USER_TAG=latest

      - name: Update Kubernetes manifests
        run: |
          sed -i -E "s|(siddhartha54/cart-service:).*|\1${CART_TAG}|" k8s/cart-deployment.yaml
          sed -i -E "s|(siddhartha54/product-service:).*|\1${PRODUCT_TAG}|" k8s/product-deployment.yaml
          sed -i -E "s|(siddhartha54/user-service:).*|\1${USER_TAG}|" k8s/user-deployment.yaml
          sed -i -E "s|(siddhartha54/frontend-service:).*|\1${FRONTEND_TAG}|" k8s/frontend-deployment.yaml

      - name: Configure Git
        run: |
          git config --global user.name "${GIT_USERNAME}"
          git config --global user.email "actions@github.com"

      - name: Commit and Push changes
        run: |
          git add k8s/*.yaml
          git commit -m "Updated Docker tags to latest" || echo "No changes to commit"
          git push https://${GIT_USERNAME}:${GIT_TOKEN}@github.com/sidhdhakal/micro_Application.git main
